.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reset-password-card {
    background-color: #ffffff;
    padding: 40px; /* Kartın iç içeriğe olan boşluğunu artırır */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px; /* Kartın maksimum genişliği */
    width: 300px; /* Kartın genişliği, ekran boyutuna göre ayarlanır */
  }
  